/* @tailwind base;
@tailwind components;
@tailwind utilities;



.landing-page {
  justify-content: center;
  align-items: center;
} */



/* HERO CONTAINER */
/* .hero-container {
  position: relative;
  height: 45rem;
  width: 100rem;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
  object-fit: center;
  margin-top: 85px;
  z-index: 1;
  color: #fff;
} */

/* .hero-container h1{
  position: relative;
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: bolder;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}


.hero-container h2 {
  color: white;
}

.hero-container > p {
  margin-top: 8px;
  color: #fff;
  font-size: 32px;
  top: 0;
  left: 0;
}

.hero-btns {
  top: 50%;
  background-color: #04d604;
  width: 15rem;
  height: 3rem;
  border: 2px solid white;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  border-radius: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.hero-btns:hover {
  background-color: black;
  color: #ea78f7;
  border: 2px solid white;
}

@media screen and (max-width: 1200px) {
  .hero-container > h1 {
    font-size: 70px;
  }
}

@media screen and (max-width: 992px) {
  .hero-container > h1 {
    font-size: 50px;
  }

  .hero-container > p {
    font-size: 30px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
}

/* TICKER TAPE */

/* .ticker {
  text-align: center;
} */

/* PROFILE CARDS */

/* .profile-col {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 10px;
}


.profile-colcard {
  width: 25rem;
  height: 30rem;
  background-color: white;
  border: 10px solid #000000;
  margin: 10px;
  padding: 10px;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.profile-colcard > img {
  border-radius: 20px;
  width: 15vw;
  height: 25vh;
  margin-bottom: 20px;
}

.profilecard-body {
  text-align: center;
}

.profilecard-title {
  color: #04d604;
  font-variant: small-caps;
  font-size: 2.5rem;
  font-weight: bold;
}  */

/* @media screen and (max-width: 1200px) {
  .profile-colcard {
    width: 20rem;
    height: 20rem;
    margin: auto;
  }

}

@media screen and (max-width: 992px) {
  .profile-col {
    flex-direction: row;
    align-items: center;
  }

  .profile-colcard {
    width: 17.5rem;
    height: 20rem;
    margin: 1.1rem;
  }

}

@media screen and (max-width: 768px) {
  .profile-colcard {
    width: 10rem;
    height: 15rem;
    margin: 1rem;
  }

  .profilecard-title {
    font-size: 1.2rem;
  }

  .profilecard-text {
    font-size: 0.8rem;
  }

}

.container {
  background: #56EBA1;
  cursor: url('https://uploads.codesandbox.io/uploads/user/b3e56831-8b98-4fee-b941-0e27f39883ab/Ad1_-cursor.png') 39 39,
    auto;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  z-index: 9999;
}
.deck {
  position: absolute;
  width: 300px;
  height: 200px;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
  touch-action: none;
  z-index: 9999;
}

.deck > div {
  background-color: #4aeba0;
  background-size: auto 85%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 45vh;
  max-width: 150px;
  height: 85vh;
  max-height: 285px;
  will-change: transform;
  border-radius: 10px;
  box-shadow: 0 12.5px 100px -10px rgba(50, 50, 73, 0.4), 0 10px 10px -10px rgba(50, 50, 73, 0.3);
  z-index: 9999;
} */
