
.container {
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.basic-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-auto-rows: 475px;
}
.charting-grid {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr 1fr;
  grid-template-rows: 8rem auto;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buy-card {
  border-radius: 20px;
}

.lorem {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.item p {
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 35px;
}

.item1 {
  background-color: blue;
  height: 8vh;
  flex: 0 0 100%;
}

.sidebar {
  background-color: orange;
  flex: 1;
  height: 60vh;
}

.content {
  background-color: yellow;
  flex: 2;
  height: 60vh;
}

.detail {
  background-color: rgb(26, 255, 0);
  flex: 2;
  height: 60vh;
}

.item4 {
  background-color: lightblue;
  height: 33vh;
  flex: 0 0 100%;
}


.chartandbuy {
  background-color: green;
  height: 55vh;
  display: flex;
  flex: 0 0 50%;
}
/* begin gpt */



.chart-container {
  width: 382px;
  height: 471px;
  left: 162px;
  top: 89px;
  position: relative;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.chart-background {
  width: 382px;
  height: 471px;
  left: 0;
  top: 0;
  position: absolute;
  background: white;
  border-radius: 18px;
}

.chart-item {
  position: absolute;
}

.review-item {
  width: 171.40px;
  height: 46.27px;
  left: 104.84px;
  top: 342.38px;
  background: #5AF857;
}

.review-text {
  width: 95.50px;
  height: 23.71px;
  left: 145px;
  top: 354px;
  position: absolute;
  color: black;
  font-size: 25px;
  font-family: 'Inter';
  font-weight: 400;
  word-wrap: break-word;
}

.gradient-item {
  width: 111.23px;
  height: 46.27px;
  left: 264.39px;
  position: absolute;
  background: linear-gradient(0deg, #F5F5F5 0%, #F5F5F5 100%), linear-gradient(0deg, white 0%, white 100%);
}

.estimated-total {
  width: 236.80px;
  height: 46.99px;
  left: 7.82px;
  top: 239.32px;
  position: absolute;
  color: black;
  font-size: 25px;
  font-family: 'Inter';
  font-weight: 400;
  word-wrap: break-word;
}

.shares-item {
  width: 126.73px;
  height: 46.45px;
  left: 7.29px;
  top: 99.94px;
  position: absolute;
  color: black;
  font-size: 25px;
  font-family: 'Inter';
  font-weight: 400;
  word-wrap: break-word;
}

.market-item {
  width: 121.26px;
  height: 46.45px;
  left: 7.29px;
  top: 170.26px;
  position: absolute;
  color: black;
  font-size: 25px;
  font-family: 'Inter';
  font-weight: 400;
  word-wrap: break-word;
}

.buy-container {
  width: 109.40px;
  height: 56.45px;
  left: 260.74px;
  top: 20.36px;
  position: absolute;
}

.buy-background {
  width: 104.84px;
  height: 34.24px;
  left: 0;
  top: 0;
  position: absolute;
  background: #96AAF0;
  border-radius: 28.50px;
}

.buy-circle {
  width: 23.70px;
  height: 24.06px;
  left: 76.58px;
  top: 4.63px;
  position: absolute;
  background: white;
  border-radius: 9999px;
}

.buy-text {
  width: 94.82px;
  height: 22.21px;
  left: 5.26px;
  top: 34.64px;
  position: absolute;
  color: black;
  font-size: 20px;
  font-family: 'Inter';
  font-weight: 400;
  word-wrap: break-word;
}

.balance-text {
  width: 114.87px;
  height: 11.10px;
  left: 145.20px;
  top: 433.84px;
  position: absolute;
  color: black;
  font-size: 10px;
  font-family: 'Inter';
  font-weight: 400;
  word-wrap: break-word;
}

.border-item {
  width: 344.02px;
  height: 0;
  left: 25.69px;
  position: absolute;
  opacity: 0.30;
  border: 0.50px rgba(0, 0, 0, 0.18) solid;
}

.symbol-text {
  left: 8px;
  top: 16px;
  position: absolute;
  color: black;
  font-size: 50px;
  font-family: 'Inter';
  font-weight: 400;
  word-wrap: break-word;
}

.number-text {
  position: absolute;
  color: black;
  font-size: 25px;
  font-family: 'Inter';
  font-weight: 400;
  word-wrap: break-word;
}

.number1 {
  left: 350px;
  top: 109px;
}

.number2 {
  left: 275px;
  top: 170px;
}

.number3 {
  left: 275px;
  top: 239px;
}

@media (max-width: 700px) {
  .item2, .item3 { flex: 0 0 100%; }
}
