/* SITE */
/* body {
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.site-btns {
  top: 50%;
  background-color: #04d604;
  width: 15rem;
  height: 3rem;
  border: 1px solid white;
  color: #fff;
  font-size: 22px;
  border-radius: 60px;
}

.site-btns:hover {
  color: #ea78f7;
  background-color: black;
  border: 2px solid white;
}
/* FORM */
/* .site-form {
  padding: 2px;
  background-color: black;
  color: white;
  text-align: left;
  z-index: 9998;
  margin-top: 0.7rem;
}

.form-container {
  display: flex;
  align-items: center;
  z-index: 9998;
}

.form-container img {
  margin-right: 20px;
}

.form-label-title {
  font-weight: bold;
  justify-content: center;
}

.modal-backdrop {
  position: fixed;
  z-index: 9998;
  margin-top: 10rem;
  top: 0;
  left: 0;
  height: 35rem;
  background-color: transparent;
  display: flex;
  justify-content: center;
}

.modal-content {
  background-color: #fff;
  width: auto;
  height: auto;
  padding: 8px;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
}

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5rem;
  padding: 0.25rem;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1;
  color: #000;
  background-color: #ea78f7;
  border: 1px solid #000;
  border-radius: 30%;
  cursor: pointer;
}

.close-btn:hover {
  color: #ea78f7;
  background-color: #000;
} */

/* BACKGROUND IMAGE */
/* .video-landing {
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  filter: opacity(95%);
  z-index: -1;
} */

/* NAV */

/* Add a black background color to the top navigation */
/* .topnav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background-color: #abdeab;
  border-bottom: 3px solid #8a0b99;
} */

/* Style the links inside the navigation bar */

/* .topnav p {
  margin-top: 15px;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

.topnav ul {
  list-style: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
}

.topnav li {
  display: inline-block;
  margin: 0 10px;
} */
/* Change the color of links on hover */
/* .topnav:hover {
  background-color: rgba(128, 128, 128, 0.2);
  color: white;
} */

/* Add a color to the active/current link */
/* .topnav a.active {
  background-color: #8a0b99;
  color: #ebf2fa;
} */

/* Right-aligned section inside the top navigation */
/* .topnav-right {
  float: right;
  padding: 4px;
  margin: 10px;
  color: white;
}

.btn-container {
  display: flex;
  justify-content: space-between;
} */
/*
.nav-btns {
  top: 50%;
  width: 10rem;
  height: 2.5rem;
  border: 2px solid white;
  color: #04d604;
  font-size: 16px;
  border-radius: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
} */

/* .nav-btns:hover {
  color: white;
  background-color: #8a0b99;
  border: 2px solid white;
}

@media screen and (max-width: 960px) {
  .nav-btns {
    font-size: 14px;
    width: 8rem;
    height: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .nav-btns {
    font-size: 12px;
    width: 6rem;
    height: 1.5rem;
  }
}

.dropdown-btn {
  float: right;
  padding: 4px;
  margin-top: 50px;
  background-color: #8a0b99;
  font-weight: 600;
} */

/* END NAV */

/* POP UP */
/* .popup-content {
  margin: auto;
  position: absolute;
  background: rgba(0, 0, 0, 0.95);
  color: white;
  border: 2px solid white;
  display: inline-block; set display to inline-block
  padding: 1rem;
} */

/* .popup-arrow {
  color: transparent;
}
[role="tooltip"].popup-content {
  width: 30rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

[data-popup="tooltip"].popup-overlay {
  background: transparent;
}

.reset-btn {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
  font-size: 15px;
  padding: 30px;
  color: red;
  border: 5px solid red;
  background-color: white;
  border-radius: 10px;
  -webkit-animation: bounce 0.75s infinite;
}

.reset-popup-info {
  display: flex;
  justify-content: center;
  font-size: 20px;
  padding: 30px;
  color: red;
  border: 5px solid red;
  background-color: white;
  border-radius: 10px;
}

.buysell-form {
  padding: 5px;
  background-color: black;
  border: 3px solid #ea78f7;
  color: white;
  text-align: left;
  border-radius: 1%;
  z-index: 9980;
  box-shadow: 4px 5px 8px white;
}

.buysell-form h1 {
  font-size: xx-large;
  text-decoration: underline;
}

.leaderboard {
  text-align: center;
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  border: 8px solid #ea78f7;
  position: relative;
  width: 20rem;
  height: 30rem;
  box-shadow: 10px 10px 8px #04d604;
}

.leaderboard h1 {
  position: absolute;
  margin-top: 0.5rem;
  font-size: x-large;
  color: #04d604;
  font-weight: bold;
  text-decoration: underline;
}

.leaderboard table {
  border: #8a0b99;
  color: white;
  margin: 15px;
  margin-top: 3rem;
  text-align: center;
}

.edit-form {
  text-align: center;
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  border: 4px solid #ea78f7;
  position: relative;
}

.edit-form h1 {
  position: absolute;
  margin-top: 0.5rem;
  font-size: x-large;
  color: #04d604;
  font-weight: bold;
  text-decoration: underline;
}

.edit-form table {
  border: #8a0b99;
  color: white;
  margin: 15px;
  text-align: center;
}

.edit-form form-container {
  display: flex;
  align-items: center;
} */

/* .charting {
  text-align: center;
  background: black;
  margin-top: 2rem;
  color: white;
  display: flex;
  justify-content: center;
  border: 4px solid #ea78f7;
  position: relative;
  border-radius: 20px;
  box-shadow: 10px 10px 8px #04d604;
  text-decoration: ;
} */

/* .charting h1 {
  position: absolute;
  margin-top: 0.5rem;
  font-size: x-large;
  color: #04d604;
  font-weight: bold;
  text-decoration: underline;
}

.charting table {
  border: #8a0b99;
  color: white;
  margin: 15px;
  margin-top: 3rem;
  text-align: center;
}

.charting form-container {
  display: auto;
  align-items: center;
}

.charting-btns {
  margin-top: 1rem;
  background-color: #04d604;
  width: 10rem;
  height: 2rem;
  border: 1px solid white;
  color: #fff;
  font-size: 18px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
}

.charting-search {
  margin-top: 10rem;
  width: 20rem;
  height: 3rem;
  border: 1px solid white;
  font-size: 22px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
}

.profile {
  text-align: center;
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
}

.profile h1 {
  margin-top: 0.5rem;
  font-size: 8rem;
  color: red;
  font-weight: bold;
}

.profile h2 {
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
}

.profile-btns {
  top: 50%;
  background-color: #04d604;
  width: 15rem;
  height: 2.5rem;
  border: 1px solid white;
  color: #fff;
  font-size: 22px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin: 5px;
  align-items: center;
}

.profile-btns:hover {
  color: #ea78f7;
  background-color: black;
  border: 2px solid white;
}

.profile-window {
  padding: 0.5rem;
  background-color: #3c0842;
  color: white;
  text-align: left;
  border: 2px solid white;
  width: 20rem;
  z-index: 9998;
  box-shadow: 4px 5px 8px white;
}

.profile-window label {
  font-size: x-large;
  color: #04d604;
  font-weight: 600;
  text-decoration: underline;
  text-decoration-color: white;
  text-decoration-style: double;
}

.form-label-field {
  color: white;
  background-color: 0080ff;
  border: 1px solid white;
  border-radius: 3px;
  padding: 3px;
}

.profile-delete {
  top: 50%;
  background-color: black;
  width: 15rem;
  height: 2.5rem;
  border: 5px solid red;
  color: white;
  font-size: 22px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin: 5px;
  align-items: center;
}

.profile-btn-container {
  background-color: black;
  width: 20rem;
  height: 10rem;
  border: 1px double white;
  color: white;
  font-size: 22px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 5px;
  align-items: center;
  padding: 1rem;
  box-shadow: 4px 5px 8px white;
}

.profile-container {
  display: flex;
  min-width: 41rem;
  max-width: 65rem;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 2rem;
  background-color: #0080ff;
  color: black;
  border: 10px solid #ea78f7;
  text-align: left;
  height: 40vh;
  z-index: 9997;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 10px 10px 8px #04d604;
}

.parent-prof {
  width: 100vw;
}

.parent-img {
  width: 15rem;
  height: 14rem;
  margin-left: 1rem;
  border: 1px solid white;
}

.user-ledger {
  text-align: center;
  padding: 1rem;
  background: black;
  width: 70rem;
  color: white;
  display: flex;
  text-decoration: underline;
  justify-content: center;
  border: 4px solid #ea78f7;
  box-shadow: 10px 10px 8px #04d604;
  margin-top: 2rem;
}

.user-ledger h2 {
  text-align: left;
  margin-left: 1rem;
}

.user-ledger table {
  width: 65rem;
  position: relative;
  border: #8a0b99;
  color: white;
  margin: 15px;
  margin-top: 2rem;
  text-align: center;
}

.trade-history {
  text-align: left;
  background: 0080ff;
  width: 60rem;
  color: white;
  display: flex;
  justify-content: space-around;
  border: 4px solid #ea78f7;
  position: relative;
  box-shadow: 10px 10px 8px #04d604;
  border-radius: 20px;
  height: 30rem;
}

.trade-history h1 {
  text-align: left;
  position: fixed;
  margin-top: 0.5rem;
  font-size: 4rem;
  color: white;
  text-decoration: underline;
}

.trade-history h2 {
  text-align: left;
  position: fixed;
  margin-top: 6rem;
  font-size: xx-large;
  color: #04d604;
  font-weight: 500;
} */
/*
.trade-history table {
  border: 4px solid #8a0b99;
  border: #8a0b99;
  color: white;
  margin: 15px;
  margin-top: 8rem;
  text-align: center;
} */

/* .trade-history th {
  padding: 0.5rem;
}

.table td + td {
  border-left: 1px solid #8a0b99;
}

.edu-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5rem;
  padding: 0.25rem;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1;
  color: #000;
  background-color: #04d604;
  border: 1px solid #000;
  border-radius: 30%;
  cursor: pointer;
  z-index: 9999;
}

.edu-btn:hover {
  color: #ea78f7;
  background-color: #ffffff;
}

.edu-container {
  display: flex;
  position: absolute;
}

.edu-container h2 {
  text-align: left;
  position: fixed;
  margin-top: 6rem;
  font-size: small;
  color: #04d604;
  font-weight: 500;
} */

/* .btn {
  font-size: 2rem;
  font-weight: 700;
  padding: 0.5em 1em;
  color:#0080ff;
  background-color:#cce6ff;
  border:#0080ff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  transition-property: transform ;
  transition-duration: 0.3 ;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition: transform 0.3s;

} */
/* .btn:hover {
  color:#cce6ff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#0080ff;
  border: 2px solid white;
  transform: translateY(-5px)
}

@keyframes slide_btn {
  from {
    transform: translateX(-300px) ;
  }
  to {
    transform: translateX(0px) ;

  }
} */

/* .rotate-btn {

}
.slide_btn {
  font-size: 2rem;
  font-weight: 700;
  padding: 0.5em 1em;
  color:#0080ff;
  background-color:#cce6ff;
  border:#0080ff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center; */


  /* animation: animation-name animation-duration
  animation-duration animation-timing-function
  animation-delay animation-iteration-count
  animation-direction animation-fill-mode; */

  /* animation-name: slide_btn ;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: 2;
  animation-direction: normal;
  animation-fill-mode: none; */
  /* transition: transform 0.3s;
  animation: slide_btn 1s ease-in 1s 1 normal both;
}
.slide_btn:hover {
  color:#cce6ff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#0080ff;
  border: 2px solid white;
  animation: none;
  transform: translateY(5px);

}

.flip-btn {

}
.v2-page {
  background-color: #4aeba0;
}
.col-mb3 {
  background-color: #4aeba0;
} */
