html {
    font-size: 62.5%;
}

body {
    margin: 0;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10em;
}

.main {
    display: flex;
}

/* Charting column  */

.chart-col {
    width: 65%;
}

.search-bar-row {
    display: flex;
    height: 10%;
    justify-content: space-between;
}
.search-col {
    width: 60%;
}
.asset-info-col {
    width: 60%;
    align-items: center;
}

.search-container {
display: flex;
justify-content: center;
align-items: center;
padding: 10;
}

.search-input {
padding: 8px;
border: 1px solid rgba(187, 182, 182,0.3);;
border-radius: 4px;
outline: none;
width: 300px;
}

.search-button {
padding: 8px 12px;
background-color: #30CD9A;
color: #fff;
border: none;
border-radius: 4px;
cursor: pointer;
}


.search-button:hover {
background-color: rgb(163, 222, 202);
}


.whitespace-col {
    flex-grow: 1;
}

.asset-info-row {
    display: flex;
    height: 20%;
}

.asset-info-NAME {
    display: flex;
    font-size: 50px;
    margin: 3%;
}

.asset-info-PRICE {
    display: flex;
    font-size: 23px;
    margin: 3%;
}

.asset-info-VALUE-CHANGE {
    display: flex;
    font-size: 15px;
    margin: 3%;
}

.chart-row {
    height: auto;
}

/* Order form column   */
.order-column{
    flex-grow: 1;
    justify-content: center;
}

.card-container {
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
}

.buy-sell-card {
    background-color: rgba(187, 182, 182,0.1);
    width: 382px;
    height: 471px;
    left: 162px;
    top: 89px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8%;
    padding: 10px;
}


/* buy-sell card heading  */

.name-toggle-row {
    display: flex;
}

.asset-name-heading {
    font-size: 30px;
}

.asset-name-col {
    width: 60%;
}

.buy-sell-toggle-col {

    flex-grow: 1;
}



.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  padding: 5px;
}

.toggle-switch-container .toggle-switch {
  display: grid;
  grid-column-start: 2;
}

.toggle-input {
  display: none;
}

.toggle-label {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FA9E9E;
  border-radius: 34px;
  cursor: pointer;
  transition: background-color 0.4s;
}

.toggle-switch-container .toggle-label {
  display: grid;
  grid-row-start: 1;
}

.toggle-label:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.4s;
}

.toggle-input:checked + .toggle-label {
  background-color: #30CD9A;
}

.toggle-input:checked + .toggle-label:before {
  transform: translateX(26px);
}


.toggle-switch-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

/* buy-sell form row */

.buy-sell-form-row {
    padding-top: 5%;
    padding-bottom: 5%;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    height: 35%;
}

.buy-sell-form-label {
    width: 60%;
    font-size: 15px;
}

.buy-sell-form-input {
    flex-grow: 1;
    border: none;
}
.buy-sell-input {
    border: none;
    font-size: 15px;
}

.buy-sell-input:focus {
  outline: none;
}

.buy-sell-form-shares-row {
    display: flex;
    margin: 5%;
    height: 15%
}

.buy-sell-form-price-row {
    display: flex;
    margin: 5%;
    height:15%;
}

.buy-sell-form-total-row {
    display: flex;
    margin: 5%;
    height: 15%
}

.buy-sell-button-row {
    display: flex;
    height: 28%;
    justify-content: center;
}

.buy-sell-button-space-col {
    width: 35%;
}

.buy-sell-button-col {
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
}



.buy-sell-button {
  height: 25%;
  justify-content: center;
  border: none;
  border-radius: 8px;
}




.buy-sell-balance-row {
    display: flex;
    height: auto;
}

.buy-sell-balance-col {
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
}

/* about section  */

.about-section {
    display: flex;
}

.about-col {
    display: flex;
    width: 60%;
}

.bottom-right-col {
    flex-grow: 1;
}

.about-heading-row {

}
.about-asset-NAME {
    font-size: 23px;
}

.tags-row-1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-start: 1;
}

.tag-background {
    display: flex;
    background-color: rgba(243, 252, 249, 1.00);
    border-radius: 20px;
    justify-content: center;
    max-width: 8em;
    margin: .5em;
}

.tags-row-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.tags-row-1 p{
    font-size: 12px;
    display: inline;
    justify-content: space-around;
    color: #20C386;
}
.tags-row-2 p {
    font-size: 12px;
    color: #20C386;
    display: inline;

}

/* gpt */
